VITE_QA_URL=
VITE_CHAT_URL=
VITE_CONTAINER_NAME=
VITE_SAS_TOKEN=
VITE_STORAGE_NAME=
VITE_DOCGENERATOR_URL=
VITE_SUMMARYQA_URL=
VITE_PINECONE_KEY=
VITE_PINECONE_ENV=
VITE_AZUREOPENAI_KEY=
VITE_AZUREOPENAI_ENDPOINT=
VITT_AZUREOPENAI_DEPLOYMENT=
VITE_PINECONE_INDEX=
VITE_OPENAI_KEY=
VITE_CHAT3_URL=