VITE_PINECONE_KEY=""  not used for now
VITE_PINECONE_ENV=""  not used for now
VITE_AZUREOPENAI_KEY=""  not used for now
VITE_AZUREOPENAI_ENDPOINT=""  not used for now
VITT_AZUREOPENAI_DEPLOYMENT=""  not used for now
VITE_PINECONE_INDEX=""  not used for now
VITE_OPENAI_KEY=""  not used for now
