.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 20px;
}

.chatEmptyStateTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    /* max-height: 1024px;
    max-width: 1028px; */
    width: 100%;
    overflow-y: auto;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    /* min-width: 500px; */
}

.chatMessageGptMinWidth {
    /* max-width: 500px; */
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%; 
    /*max-width: 1028px; */
    background: #f2f2f2;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    /* max-height: 89vh; */
    margin-left: 1%;
    margin-right: 1%;
    max-width: 30%;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.example {
    word-break: break-word;
    background: #dbdbdb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

.example:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: 2px solid rgba(115, 118, 225, 1);
}

.exampleText {
    margin: 0;
    font-size: 12px;
    width: 850px;
    height: 120px;
    /* width: 100%; */
}