AGENTQA_URL=http://localhost:7071/api/AgentQa?code=
BLOB_CONNECTION_STRING=
BLOB_CONTAINER_NAME=chatpdf
BLOB_SUMMARY_CONTAINER_NAME=summary
CHAT_URL=http://localhost:7071/api/ChatGpt?code=
CONVERTCODE_URL=http://localhost:7071/api/ConvertCode?code=
DOCGENERATOR_URL=http://localhost:7071/api/DocGenerator?code=
INDEXMANAGEMENT_URL=http://localhost:7071/api/IndexManagement?code=
KBINDEXNAME=aoaikb
PROMPTGURU_URL=http://localhost:7071/api/PromptGuru?code=
PROCESSSUMMARY_URL=http://localhost:7071/api/ProcessSummary?code=
QA_URL=http://localhost:7071/api/QuestionAnswering?code=
SEARCHSERVICE=dataaioaicg
SEARCHKEY=
SECSEARCH_URL=http://localhost:7071/api/SecSearch?code=
SMARTAGENT_URL=http://localhost:7071/api/SmartAgent?code=
SPEECH_KEY=
SPEECH_REGION=southcentralus
SQLCHAIN_URL=http://localhost:7071/api/SqlChain?code=
SQLCHAT_URL=http://localhost:7071/api/SqlChat?code=
SQLVISUAL_URL=http://localhost:7071/api/SqlVisual?code=
SUMMARIZER_URL=http://localhost:7071/api/Summarizer?code=
TASKAGENTQA_URL=http://localhost:7071/api/TaskAgentQa?code=
TEXTANALYTICS_KEY=
TEXTANALYTICS_REGION=eastus
VERIFYPASS_URL=http://localhost:7071/api/VerifyPassword?code=
COSMOSENDPOINT=https://.documents.azure.com:443/
COSMOSKEY=
COSMOSDATABASE=aoai
COSMOSCONTAINER=chatgpt
