OpenAiKey=
OpenAiService=
OpenAiDavinci=text-davinci-003
OpenAiChat=gpt-35-turbo
OpenAiVersion=2023-05-15
SearchService=
SearchIndex=oaiworkshop
SearchKey=
OpenAiApiKey=
OpenAiEmbedding=text-embedding-ada-002
SynapseName=<YourName>.database.windows.net,1433
SynapsePool=northwind
SynapseUser=<User>
SynapsePassword=<Password>
BingUrl=https://api.bing.microsoft.com/v7.0/search
BingKey=
FmpKey=