AzureWebJobsStorage=UseDevelopmentStorage=true
AzureWebJobs.HttpTrigger1.Disabled=false
AdminPassword=
UploadPassword=$
AzureWebJobsStorage=
OpenAiApiKey=
OpenAiChat=chat
OpenAiChat16k=chat16k
OpenAiVersion=2023-07-01-preview
OpenAiEmbedding=embedding
OpenAiKey=
OpenAiEndPoint=
FormRecognizerEndPoint=https://<>.cognitiveservices.azure.com
FormRecognizerKey=
CosmosEndpoint=https://<>.documents.azure.com:443/
CosmosKey=
CosmosDatabase=aoai
CosmosContainer=chatgpt
WeatherEndPoint=https://<>.p.rapidapi.com/weather
WeatherHost=<>.p.rapidapi.com
StockEndPoint=https://<>.p.rapidapi.com/query
StockHost=<>.p.rapidapi.com
RapidApiKey=
MaxTokens=500,
Temperature=0.3,
PineconeKey=
PineconeEnv=https://<>.svc.gcp-starter.pinecone.io
VsIndexName=oaiembed
RedisPassword=
RedisAddress=
RedisPort=6379
OpenAiDocStorName=
OpenAiDocStorConnString=
OpenAiDocStorKey=
OpenAiDocContainer=chatpdf
KbIndexName=aoaikb
SearchService=dataaioaicg
SearchKey=
BingUrl=https://api.bing.microsoft.com/v7.0/search
BingKey=